.spinner {
  width: 150px; /* Set width here */
  height: 150px; /* Set height here */
  border: 5px solid rgb(0 0 0 / 10%);
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
